Thank you very much for your interest in Ansible. Ansible has migrated much of the content into separate repositories to allow for more rapid, independent development. We are closing this issue because this content has been moved to one or more collection repositories.

$components

[click here for bot help](https://github.com/ansible/ansibotmini#ansibotmini)
<!--- boilerplate: collection_redirect --->
