Hi @$author!

Thank you very much for your submission to Ansible. It means a lot to us that you've taken the time to contribute.

Unfortunately, we currently ask that first-time contributors only have one open pull request. This will help you to learn what an acceptable pull request is like and also help us keep up with the review queue.

Since you already have an active pull request open at #$oldest_pr_number, we are automatically closing this one for now. Once your other PR is merged or closed, please feel free to reopen this one or submit it again.

Thank you for understanding!

[click here for bot help](https://github.com/ansible/ansibotmini#ansibotmini)
<!--- boilerplate: first_time_contributor --->
