@$author: Greetings! Thanks for taking the time to open this $obj_type. In order for the community to handle your $obj_type effectively, we need a bit more information.

Here are the items we could not find in your description:
$missing_sections

Please set the description of this $obj_type with an appropriate template from:
https://github.com/ansible/ansible/tree/devel/.github/ISSUE_TEMPLATE
or
https://raw.githubusercontent.com/ansible/ansible/devel/.github/PULL_REQUEST_TEMPLATE.md

[click here for bot help](https://github.com/mkrizek/ansibotmini/blob/main/README.md)
<!--- boilerplate: issue_missing_data --->
