@$author: Thank you for taking the time to open this issue. In order for the community to handle your issue effectively, we need the appropriate template to be filled in.

Here are the items we could not find in your description:
$missing_sections

As such we are closing this issue. Please open a [new issue](https://github.com/ansible/ansible/issues/new/choose) and choose the appropriate template.

[click here for bot help](https://github.com/ansible/ansibotmini#ansibotmini)
<!--- boilerplate: issue_missing_data --->
