@$author This $object_type is waiting for your response. Please respond or the $object_type will be closed.

[click here for bot help](https://github.com/ansible/ansibotmini#ansibotmini)
<!--- boilerplate: needs_info_warn --->
