@$author This $object_type is waiting for your response. Please respond or the $object_type will be closed.

[click here for bot help](https://github.com/mkrizek/ansibotmini/blob/main/README.md)
<!--- boilerplate: needs_info_warn --->