@$author You have not responded to information requests in this $object_type so we will assume it no longer affects you. If you are still interested in this, please create a new $object_type with the requested information.

[click here for bot help](https://github.com/mkrizek/ansibotmini/blob/main/README.md)
<!--- boilerplate: needs_info_close --->