@$author All commits must have verified signatures.

Please see [this Ansible Forum post](https://forum.ansible.com/t/important-github-com-ansible-now-requires-signed-commits/) for more information.

[click here for bot help](https://github.com/ansible/ansibotmini#ansibotmini)
<!--- boilerplate: signed_commits --->
