@$author The following file(s) in this pull request are bundled copies of modules used to support incidental tests and should not be updated:

$data

Because the original module(s) have been migrated to collections, please re-submit this pull request in relevant collection repositories, typically under [https://github.com/ansible-collections](https://github.com/ansible-collections).

If you need further assistence with identifying the correct repository, please stop by IRC or the mailing list:

* IRC: #ansible on Libera.chat IRC
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[click here for bot help](https://github.com/mkrizek/ansibotmini/blob/main/README.md)
<!--- boilerplate: test_support_plugins --->
